* {
    font-family: monospace;
    font-size: 14px;
    color: #d645b8;
}
body {
    background-color: #080407;
    display: flex;
}
.container{
    box-sizing: content-box;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    width: 50rem;
    border: 5px solid #0f060d;

    background-color: #0a0509;
}
.older{
    font-size: 0.8rem;
}
/*

