* {
    font-family: monospace;
    font-size: 14px;
    color: #d645b8;
}
body {
    background-color: #080407;
    display: flex;
}
.container {
    box-sizing: content-box;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    width: 50rem;
    border: 5px solid #0f060d;

    background-color: #0a0509;
}
svg {
    height: 3.5rem;
    background-color: #1c0f19;
}
.socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.socials-container-partial {
    display: flex;
    max-height: 40px;
}
.older{
    font-size: 0.8rem;
}
/*

